@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100%;
}

html {
  height: 100%;
  width: 100%;
  background-color: white;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100%;
  background: linear-gradient(90deg, rgba(61,50,68,1) 0%, rgba(60,62,72,1) 100%);
}

#link {
	color: #ff79c6;
  position: relative;
  text-decoration: none;
  z-index: 50;
}

#link::before {
  content: '';
  z-index: 50;
  position: absolute;
  width: 100%;
  height: 1px;
  border-radius: 9px;
  background-color: #ff79c6;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

#link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

#itMe {
  --g: 4px;     /* the gap */
  --b: 4px;    /* border thickness*/
  --c: #d2d3d0; /* the color */

  padding: calc(var(--g) + var(--b));
  --_c: #0000 0 25%, var(--c) 0 50%;
  --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
  --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
  background:
    var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
    var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
  background-size: 200% var(--b),var(--b) 200%;
  /* cursor: pointer; */
  transition: .5s;
}

#itMe:hover {
  --_p: 75%;
}


#info {
  transform: translateY(100%)
    translateY(-88px)
    translateZ(0);
  transition: transform 0.88s ease-out;

}

#card:hover #info,
#card:hover #info:before {
  transform: translateY(0) translateZ(0);
  opacity: .9;
  transition: transform 0.88s ease-out;
}
